core = 7.x
api = 2

libraries[tcpdf][download][type] = "get"
libraries[tcpdf][download][url] = "http://downloads.sourceforge.net/project/tcpdf/tcpdf_5_9_144.zip"
libraries[tcpdf][directory_name] = ""
libraries[tcpdf][destination] = "libraries"

